
* {
    box-sizing: border-box;
}
:root {
    --primary-color: #e72840;
    --secondary-color: #ffffff; 
    --third-color: #dfe180; 
    --fourth-color: #e4f3f6;
    --fifth-color: #76c4d1;
    --base-color: #d5eade;

}

@font-face {
    font-family: "Raleway-bold";
    src: url(./fonts/fonts/raleway/raleway-bold-webfont.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Raleway-regular" ;
    src: url(./fonts/fonts/raleway/raleway-regular-webfont.ttf);
}

@font-face {
    font-family: "Raleway-light";
    src: url(./fonts/fonts/raleway/raleway-thin-webfont.ttf);
}

body {
    background-color: var(--base-color);
}

p::first-letter {
    font-family: "Raleway-bold";
    
}

.bolder {
    font-weight: 900;

}

b {
    font-family: "Raleway-bold";
    size: 1rem;
}

.insider {
    align-content: space-around center;
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    position: static;
        
}

h1 {
    color: var(--secondary-color) ;
    margin-top: 0.1rem;
}


.whiteColor {
    color: var(--secondary-color);
}

.line {
    border-top: 2px solid var(--primary-color);
    height: 0.5%;
    margin: 4px 0px;    
}

.block-one {
    margin: 4rem 4rem 1rem 4rem;
    width: 52%;
}

.block-one h1 {
    font-family: "Raleway-bold";
    font-size: 2.5rem;
    
}

.block-one p {
    font-family: "Raleway-light";
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}

.talos {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    font-family: "Raleway-light";
    font-size: 1rem;
    margin-bottom: 0.7rem;
    line-height: 2.5rem;
    padding-left: 0.8rem;
    padding-right: 3rem;
    width : 35%;
}

.dark-overlay {
    background: rgb(0, 0, 0, 0.5);
    height: 297%;
    margin-top:-5% ;
    right: 0;
    position: absolute;
    z-index: 1;
    width: 30%;  
}
    
.yellowFloat {
    background-color:var(--third-color) ;
    display: flex-block ;
    font-family: "Raleway-light";
    font-size: 1rem;
    height: 80%;
    list-style-type: none;
    line-height: 1.8rem;
    margin-right: 3rem;
    margin-top: 5%;
    padding: 3rem 3rem 3rem 3rem;
    position: absolute;
    right:0%;
    text-align: left ;
    top: 4%;
    width: 30%;
    z-index: 3;
} 

.listTitle{
    font-family: "Raleway-light";
    font-size: 2rem;
    margin-left: 10%;
}

li {
    list-style: none;
    text-align: left;
}

.the-road {
    background: var(--fourth-color);
    height: 15%;
    margin: 1rem 1rem 1rem 0rem ;
    padding: 3% 2% 4% 4%;
    width: 50%;
}


.the-road p {
    font-family: "Raleway-regular";
}
.the-road h2 {
    font-family: "Raleway-light";
    line-height: 3rem;
}

.about {
    color: var(--secondary-color);
    font-family: "Raleway-light";
    font-size: 1rem;
    height: 50%;
    margin: 3rem 1rem 2rem 3rem;
    width: 50%;
    padding: 5rem;
}

.pinkFloat {
    color: white;
    background: var(--primary-color);
    font-family: "Raleway-light";    
    height: 70%;
    margin-top: 4rem ;
    margin-right: 4rem ;
    padding: 4rem 4rem;
    position: relative;
    width: 40%;
    z-index: 2;
}
.pinkFloat h2 {
    line-height: 3rem;
}
.smallSquare {
    background:var(--fourth-color);
    font-family: "Raleway-regular";
    height:40%;
    margin: 4rem 0rem 4rem 4rem;
    padding: 4rem;
    top: 6rem;
    width: 30%;
}

.bigSquare {
    background:var(--fourth-color);
    font-family: "Raleway-regular";
    height: 70%;
    padding: 3rem ;
    width: 60%;
    z-index:2;   
}

.last-foot {
    background-color: var(--third-color);
    color: #808080;
    font-family: "Raleway-light";
    font-size: 2rem;
    margin-bottom: 5%;
    margin-left: 5%;
    line-height: 2.5rem;
    padding: 1rem 24rem 1rem 1rem;
    width :50%;
}

@media screen and (max-width: 480px){
    
  

     
.insider {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;        
}

.talos {  
    line-height: 3rem;
    width: 95%;      
}

.block-one {
    margin: 1rem;
    padding: 0rem;
    width: 100%;
}

.dark-overlay {
    visibility: hidden;
}

.yellowFloat {
    align-self: center;
    position: relative;
    width: 100%;

  

}

.pinkFloat {
    display: block;         
    margin: 0rem 1rem;
    width: 100%;
}

.the-road {
    align-self: center;
    display: block;
    position: relative;
    width: 100%;
}

.about {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

.smallSquare {
    margin: 0rem 1rem;
    padding-bottom:1rem ;
    width: 100%;
}

.bigSquare {
    margin: 0rem 1rem;
    width: 100%;
}

.last-foot {
    margin: 1rem;
    margin-top: 0rem;
    padding: 1rem;
    width: 65%;
}
}